<section class="section-lists">
    <div class="container-lists">
        <h1>LISTA DE PRODUTOS</h1>
        <div class="listas-produtos">
            <div class="produto">
                <!-- <span class="nome">Computador</span> -->

                <div>
                    <div class="box-img">
                        <div>
                            <img src="https://www.saldaodainformatica.com.br/3933-home_default/computador-desktop-lenovo-g71-sff-intel-core-i3-2120-4gb-hd-500gb-preto-microsoft-windows-7-professional.jpg" alt="" />
                        </div>
                    </div>
                    <div class="box-infos">
                        <p class="preco"><span>R$ 300,00</span></p>
                        <p class="opcoes_pagamento">
                            <span class="vezes_parcelado">10x</span>
                            <span class="preco">R$50</span>
                            <span class="juros">sem juros </span>
                        </p>
                        <p class="nome">
                            Lorem ipsum dolor sit amet consectetur
                        </p>
                    </div>
                </div>
                <div class="box-comprar">
                    <button>Adicionar ao carrinho</button>
                </div>
            </div>
            <div class="produto">
                <!-- <span class="nome">Iphone</span> -->

                <div>
                    <div class="box-img">
                        <div>
                            <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone-13-blue-select-2021?wid=940&hei=1112&fmt=png-alpha&.v=1645572386470" alt="" />
                        </div>
                    </div>
                    <div class="box-infos">
                        <p class="preco"><span>R$ 1300,00</span></p>
                        <p class="opcoes_pagamento">
                            <span class="vezes_parcelado">10x</span>
                            <span class="preco">R$50</span>
                            <span class="juros">sem juros </span>
                        </p>
                        <p class="nome">
                            Lorem ipsum dolor sit amet consectetur
                        </p>
                    </div>
                </div>
                <div class="box-comprar">
                    <button>Adicionar ao carrinho</button>
                </div>
            </div>
            <div class="produto"></div>
            <div class="produto"></div>
            <div class="produto"></div>
            <div class="produto"></div>
            <div class="produto"></div>
        </div>
    </div>
</section>