.section-lists {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blueviolet; */
    font-family: 'IBM Plex Mono';
}

.section-lists h1 {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    font-size: 24px;
    display: flex;
    align-items: center;
    color: #333;
}

.section-lists h1:before {
    content: '';
    width: 5px;
    height: 20px;
    background-color: var(--color2);
    margin-right: 10px;
}

.section-lists .container-lists {
    margin-top: 40px;
}

.section-lists .listas-produtos {
    margin-top: 60px;
    max-width: 980px;
    display: flex;
    flex-wrap: wrap;
    /* background: rgba(240, 240, 240, 0.8); */
    border-radius: 10px;
    justify-content: space-evenly;
}

.section-lists .listas-produtos>app-produto {
    flex: 1 0 250px;
    max-width: 300px;
}

@media (max-width:520px) {
    .section-lists .listas-produtos>app-produto {
        max-width: 100%;
    }
}