<nav class="navbar menu">
    <div class="container-menu">
        <div class="container-desktop">
            <div>
                <a href="#" class="logo">
                    <img [src]="logo" alt="Logo" class="logo-carrinho" />
                </a>
            </div>
            <div class="container-item">
                <a href="#" class="menu-item">
                    <span>Carrinho</span>
                </a>
                <a href="#" class="menu-item">
                    <span>Finalizar</span>
                </a>
            </div>
        </div>
        <div class="container-mobile">
            <div>
                <a href="#" class="logo">
                    <img [src]="logo" alt="Logo" class="logo-carrinho" />
                </a>
            </div>
            <div class="container-itens">
                <div class="box-barra" (click)="toggleModal()">
                    <fa-icon [icon]="faBars"></fa-icon>
                </div>
                <div class="box-itens">
                    <ul>
                        <li>
                            <span>Carrinho</span>
                        </li>
                        <li>
                            <span>Finalizar</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>